# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directory
.venv/
env/
venv/

# Environment variables
.env
*.env
.venv
# Log files
*.log

# macOS-specific files
.DS_Store

# IDE/Editor-specific files (optional)
.vscode/
.idea/
